<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>ESP</title>
</head>
<body>
    <h1>ESP Web App untuk tugas IF4051</h1> 
    <p>Dibuat oleh Kelompok 3  </p>
    <p> R. B. Wishnumurti	13519203 , 
    Mochammad Fatchur Rochman	13519009 , 
    Jusuf Junior Athala	13519174 , 
    Muhammad Atthaumar Rifqy	13519148 </p>
    <p>Start: </p>
    <form method="post" action="/">
        <input type="submit" value="START" name="start_button" />
    </form>
   <br>
   <p>Cara menggunakan</p>
   <p>1. Ketika menekan START , Server akan memulai listening untuk setiap message yang telah dipublish. </p>
   <p>2. Server akan otomatis menambahkan record kepada database ketika menerima pesan </p>

</body>
</html>